<header class="bg-red-500 text-white p-4 shadow-md">
  <nav class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-4">
      <li>
        <a
          href="/"
          class="<%= currentPage === 'index' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >airbnb</a
        >
      </li>
      <% if(isLoggedIn){ %>
       <li>
        <a
          href="/home"
          class="<%= currentPage === 'Home' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Home-List</a
        >
      </li>
      <li>
        <a
          href="/host/add-home"
          class="<%= currentPage === 'addHome' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Add Home</a
        >
      </li>
        <li>
        <a
          href="/home-details"
          class="<%= currentPage === 'home-details' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Add Details</a
        >
      </li>
        <li>
        <a
          href="/reserve"
          class="<%= currentPage === 'reserve' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Reserve</a
        >
      </li>
        <li>
        <a
          href="/booking"
          class="<%= currentPage === 'booking' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Booking</a
        >
      </li>
        <li>
        <a
          href="/favroute-list"
          class="<%= currentPage === 'favroute-list' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Favroute</a
        >
      </li>

         <li>
        <a
          href="/host/host-home-list"
          class="<%= currentPage === 'hostHome' ? 'bg-red-400' : 'hover:bg-red-400' %> py-2 px-4 rounded transition duration-300"
          >Host Home-List</a
        >
      </li>
      <% } %>

       <li>
      <% if(!isLoggedIn){ %>

        <form action="/login" method="POST">
          <button type="submit"
          class=" 'hover:bg-red-400'  py-2 px-4 rounded transition duration-300">Login

          </button>
        </form>
         
      <% }else{ %>
        <form action="/logout" method="POST">
          <button type="submit"
          class=" 'hover:bg-red-400'  py-2 px-4 rounded transition duration-300">Logout

          </button>
        </form>
      <% } %>


      </li>
    </ul>
  </nav>
</header>